@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    background: url("img/pexels-miyatavictor-5205781.jpg") no-repeat center center/cover;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}
h1, h2 {
    font-family: "Geom", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;
    z-index: 5;
    position: relative;
}
.cart{
    width: 40%;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.235);
    border: 2px rgba(255, 255, 255, 0.735) solid;
    border-radius: 12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
}
.login-box h1 {
    margin-bottom: 10px;
    letter-spacing: 2px;
}
.cart article{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: rgb(255, 0, 0);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: rgb(255, 0, 0);
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: rgb(255, 0, 0);
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline rgb(255, 0, 0);
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: rgb(255, 0, 0);
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  transform: .3s ease;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(0, 0, 0);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.google{
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(104, 104, 104);
  border-radius: 7px;
  width: 100%;
  height: 40px;
  cursor: pointer;

}

